html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

.button {
  border: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  color: white;
  border-radius: 32px;
  padding: 8px 16px;
  margin-bottom: 16px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transition-duration: 0.1s;
}

.button:hover { 
  opacity: 0.90;
  box-shadow: 0px 8px 8px 0px rgba(10, 2, 2, 0.20);
}

.button:active {
  box-shadow: 0px 2px 2px 0px rgba(10, 2, 2, 0.50);
}

#generatorButton:disabled, #addEuropeanButton:disabled, #addOceaniaButton:disabled, #resetButton:disabled {
  opacity: 0.4;
  cursor: not-allowed;
  box-shadow: none;
}

#resetButton {
  background-color: #AB1C36;
}

#addEuropeanButton {
  background-color: #664972;
}

#addOceaniaButton {
  background-color: #EE4F96;
}

#generatorButton {
  background-color: #20603E;
}

#addExpansionsContainer {
  display: flex;
  flex-direction: column;
}

#pageContainer {
  margin: 0 16px;
}

#title {
  background-color: black;
  color: white;
  width: 100%;
  padding-left: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-bottom: 24px;
}

#generatorContainer {
  display: flex;
  flex-direction: column;
}

#generatorHeader {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  margin-top: 24px;
}


/* Current Game */
#drawArea {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
}

.roundNumberWrapper {
  display: flex;
  width: 100%;
}

.roundNumber {
  display: flex;
  justify-content: center;
  width: 100%;
}

#goalPlacemat {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;
  margin-top: 16px;
  border-radius: 16px;
  background-color: lightgray;
  border: 1px solid rgb(187, 187, 187);
}

#drawnGoalsContainer {
  display: flex;
  width: 100%;
}

.goalCard {
  width: 100%;
  max-height: 280px;
  margin: 0 4px;
}

/* Desktop View*/
@media only screen and (min-width: 900px) {
  #pageContainer {
   margin-left: 16%;
   margin-right: 16%;
 }
 
 #addExpansionsContainer {
   align-items: flex-end;
 }
 .goalCard {
   margin: 0 16px;
 }
}

/* goalPlacemat height adjustments for the responsive goal tile SVGs */
@media only screen and (max-width: 410px) and (min-width: 321px) {
  #goalPlacemat {
    height: 100px;
    /* background-color: blue; */
  }
}
@media only screen and (max-width: 470px) and (min-width: 411px) {
  #goalPlacemat {
    height: 120px;
    /* background-color: green; */
  }
}
@media only screen and (max-width: 570px) and (min-width: 471px) {
  #goalPlacemat {
    height: 140px;
    /* background-color: pink; */
  }
}
@media only screen and (max-width: 680px) and (min-width: 571px) {
  #goalPlacemat {
    height: 180px;
    /* background-color: orange; */
  }
}
@media only screen and (max-width: 767px) and (min-width: 681px) {
  #goalPlacemat {
    height: 200px;
    /* background-color: navajowhite; */
  }
}
@media only screen and (max-width: 811px) and (min-width: 768px) {
  #goalPlacemat {
    height: 220px;
    /* background-color: firebrick; */
  }
}
@media only screen and (max-width: 900px) and (min-width: 812px) {
  #goalPlacemat {
    height: 240px;
    /* background-color: yellow; */
  }
}
@media only screen and (min-width: 900px) {
  #goalPlacemat {
    height: 300px;
    /* background-color: lightgray; */
  }
}



/* Work In Progress */

/* Previous Games */

#previousGames {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#previousRounds {
  display: flex;
  width: 100%;
}

#previousDraws {
  display: flex;
  width: 100%;
}

#resetContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 32px;
}